body {
  align-items: center;
  overflow: auto;
  /* changed from hidden to auto */
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #181825;
  font-size: 25px;
  /* changed from 50px to 16px */
  font-family: 'JetBrains Mono', monospace;
}



h1 {
  color: #cba6f7
}

#DonateToMe {
  color: #cba6f7;
}

#DonateMonero {
  color: #abf7b1;
}

#MoneroWalletAddress {
  color: #cba6f7;
}

#DonateLiberapay {
  color: #abf7b1;
}

#Liberapay {
  color: #cba6f7;
}

#BitcoinWalletAddress {
  color: #cba6f7
}

#DonateBitcoin {
  color: #abf7b1
}